<div class="container">
  <div class="search-bar"></div>
  <div class="section-main">
    <%= current_user.email %>
    <h2><strong>Bookings placed by you</strong> </h2>
    <% @bookings_requests.each do |booking| %>
      <div class="booking-card">
        <% if booking.offer.banner.attached? %>
            <div class="banana" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path offer.banner.key, height: 300, width: 400, crop: :fill %>')">
          <% else %>
            <div class="banana" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1583376097610-516c37bb66ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)">
          <% end %>
        <div class="booking-card-image">
          <div class="booking-card-info">
            <h4><%= booking.offer.title %></h4>
            <ul>
                <li></i> Category:<b> <%= booking.offer.category %> </b> </li>
                <li>Price: <%= booking.offer.price %>€</i></li>
                <li></i> Category:<b> <%= booking.patron_address %> </b> </li>
                <li></i> Comment:<b> <%= booking.comment %> </b> </li>
            <% if booking.status == "Pending" %>
             <br>
            <%= link_to "Edit booking request", edit_booking_path(booking), class: 'btn devise-button' %>
              <i class="fas fa-calendar-minus", style="color: orange"> <%= booking.status %></i>
            <% elsif booking.status == "Accepted" %>
              <i class="fas fa-calendar-check" , style="color: green"> <%= booking.status %></i>
            <% else %>
              <i class="fas fa-calendar-times" , style="color: red"> <%= booking.status %></i>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="section-main">
    <h2><strong>Bookings requested by patrons</strong></h2>
    <% unless @bookings_as_artist.nil? %>
    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <% @bookings_as_artist.each do |booking| %>
        <div class="booking-card">
          <% if booking.offer.banner.attached? %>
            <div class="banana" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path offer.banner.key, height: 300, width: 400, crop: :fill %>')">
          <% else %>
            <div class="banana" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1583376097610-516c37bb66ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)">
          <% end %>
          <div class="booking-card-image">
            <div class="booking-card-info">
              <h4><%= booking.offer.title %></h4>
       <li></i> Category:<b> <%= booking.offer.category %> </b> </li>
                <li>Price: <%= booking.offer.price %>€</i></li>
                <li></i> Category:<b> <%= booking.patron_address %> </b> </li>
                <li></i> Comment:<b> <%= booking.comment %> </b> </li>
                <p><i class="fas fa-info"> <%= booking.comment %></i></p>
              <% if booking.status == 'Pending' %>
                <i class="fas fa-calendar-minus", style="color: orange"> <%= booking.status %></i>
                <%= link_to "Accept booking", accept_path(booking), method: :patch, data: { confirm: "Do you want to accept this booking?" }, class: 'btn btn-success ml-8' %>
                <%= link_to "Decline booking", reject_path(booking), method: :patch, data: { confirm: "Do you want to decline this booking?" }, class: 'btn btn-danger ml-8' %>
                <%= link_to "Delete booking", booking_path(booking), method: :delete, data: { confirm: "Do you want to decline this booking?" }, id:"deletebutton", class: 'btn btn-danger ml-8'%>
              <% elsif booking.status == "Accepted" %>
                <i class="fas fa-calendar-check" , style="color: green"> <%= booking.status %></i>
              <% else %>
                <i class="fas fa-calendar-times" , style="color: red"> <%= booking.status %></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>





