<div class="container">
  <div class="search-bar">
    </div>
  <div class="bookings-requests-cards-container">
    <% @bookings_requests.each do |booking| %>
      <div class="booking-card">
        <div class="booking-card-image">
        <div class="booking-card-info">
          <h4><%= booking.offer.title %></h4>
          <p><i class="fas fa-hashtag"></i> <%= booking.offer.category %></p>
          <p><i class="fas fa-euro-sign"> <%= booking.offer.price %></i></p>
          <p><i class="fas fa-map-marker"> <%= booking.day %></i></p>
          <% if booking.status == "pending" %>
            <i class="fas fa-calendar-minus", style="color: orange"> <%= booking.status %></i>
          <% elsif booking.status == "approved" %>
           <i class="fas fa-calendar-check" , style="color: green"> <%= booking.status %></i>
          <% else %>
            <i class="fas fa-calendar-times" , style="color: red"> <%= booking.status %></i>
          <% end %>
        </div>
      </div>
      </div>
    <% end %>
  </div>
  <br>
</div>
