<div class="container">
  <% if policy(Booking).create? %>
      <h1>Make a booking request</h1>
      <%= simple_form_for @booking do |f| %>
      <%= f.input :day, :label => "Event date"  %>
      <%= f.input :comment, :label => "Is there anything else the artist should know?" %>
      <%= f.submit "Submit request", class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <p><%= link_to "Back to offers", offers_path %></p>
</div>
