<div class="navbar">
  <%= link_to root_path do %>
    <%= image_tag "patronize_me_logo.svg" %>
  <% end %>
    <nav>
      <div class="dropdown">
      <div class="nav-avatar"></div>
      <div class="dropdown-content">
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
        <%= link_to "Dashboard" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      <% end %>
      </div>
    </div>
    </nav>
  </div>
