<div class="navbar">
  <%= link_to root_path do %>
    <%= image_tag "patronize_me_logo.svg" %>
  <% end %>
    <nav>
      <div class="dropdown">
        <% if user_signed_in? && current_user.avatar.attached?%>
          <div class="nav-avatar" style="background: url('<%= cl_image_path current_user.avatar.key, crop: :fill %>')">
        <% else %>
          <div class="nav-avatar" style="background-image: url(<%= image_url('placholder-avatar.png') %>);
    border: solid 0.3px;">
          </div>
        <% end %>
      <div class="dropdown-content">
        <% if user_signed_in? %>
          <%= link_to "My profile" %>
          <%= link_to "My bookings", bookings_path %>
          <%= link_to "My offers"  %> <!-- needs to go to the users created offers -->
          <%= link_to "Create new offer", new_offer_path %> <!-- added this here until there is a place it can be used properly -->
          <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>
    </div>
    </nav>
  </div>
