<section class="hero">
  <h1>Book <br> independent <br> artists.</h1> <br>
  <a href="#search" class="button-dscv">DISCOVER</a>
</section>

<section id= "search" class="discover">
  <div class="slides">
     <%= image_tag "art_1.jpg" %>
     <%= image_tag "art_2.jpg" %>
     <%= image_tag "art_3.jpg" %>
     <%= image_tag "art_4.jpg" %>
     <%= image_tag "art_5.jpg" %>
  </div>
  <div class="content">
    <h1>Discover new talent.</h1>
    <h2>Empower local creative scenes.</h2> <br>

    <%= link_to "SEARCH", offers_path, class: "button-search" %>
  </div>
    <br>
    <br>
  </div>
</section>

<section class="about">
  <h1>People need art & <br> the artworld needs patrons.</h1>
  <h2>We are here to bring them together.</h2> <br>
  <a href="#" class="button-about">ABOUT US</a>
</section>

<section class="inspire">
  <h2>Are you an artist and you want to inspire people?</h2>
  <h3> Create a profile and showcase your work </h3>
  <%= link_to "JOIN US!", new_user_registration_path, class: "button-join" %>
</section>
