<div class="container">
  <h1>Edit offer</h1>
  <%= simple_form_for @offer do |f| %>
    <%= f.input :title %>
    <%= f.input :category, collection: Offer::CATEGORY %> <!-- check how to extract a drop down fron category options -->
    <%= f.input :price %>  <!-- do i need to specify it's an integer? -->
    <%= f.input :description %>  <!-- text box-->
    <%= f.input :city, collection: Offer::CITY %>
    <%= f.input :delivery_type, collection: Offer::DELIVERY %>  <!-- 2 defined options-->
    <%= f.input :banner, as: :file, label: "Add a picture to your offer." %>
    <%= f.submit "Change", class: "btn-devise" %>
  <% end %>
</div>
