<section class="hero-offer">
  <div class="container">
    <div class="search-bar">
      <div id="search-form">
        <h2 id= "get-inspired"> Get Inspired.</h2>
        <%= simple_form_for Offer.new, method: :get do |f| %>
        <%= f.select :category, Offer::CATEGORY, include_blank: true, prompt: "Category"  %>
        <%= f.select :city, Offer::CITY, include_blank: true,prompt: "City" %>
        <%= f.submit "SEARCH", class: "offer-button-search" %>
      </div>
      <% end %>
    </div>
  </div>
</section>
<section class="section-main">
  <% if !@offers.empty? %>
    <div class="offer-cards-container">
      <% @offers.each do |offer| %>
        <div class="offer-card">
          <% if offer.banner.attached? %>
            <div class="offer-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path offer.banner.key, height: 300, width: 400, crop: :fill %>'); background-repeat: no-repeat; background-size: cover;
">
          <% else %>
            <div class="offer-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1583376097610-516c37bb66ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)">
          <% end %>
            <div class="offer-card-info">
              <p><%= offer.title %></p>
              <ul>
                <li></i> Category:<b> <%= offer.category %> </b> </li>
                <li>Price: <%= offer.price %>€</i></li>
                <li><i class="fas fa-map-marker-alt"></i> <%= offer.city %></i></li>
              </ul>
              <%= link_to "BOOK ME", offer_path(offer), class: "btn offer-card-button"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
      <div id="no-result">No results for your search criteria</div>
  <% end %>
</section>
