<div class='container'>
  <div class="back">
    <h2><strong>Create a new offer</strong></h2>
    <br>
    <%= simple_form_for @offer do |f| %>
    <%= f.input :title %>
    <%= f.input :category, collection: Offer::CATEGORY, label: "Category (please choose one of the given options)" %> <!-- check how to extract a drop down fron category options -->
    <%= f.input :price, label: "Total price per show/piece of art in EUR" %>  <!-- do i need to specify it's an integer? -->
    <%= f.input :description, label: "Please describe your performance/artistic style in a few words:" %>  <!-- text box-->
    <%= f.input :city, collection: Offer::CITY, label: "Location (please choose one of the given options)" %>
    <%= f.input :delivery_type, collection: Offer::DELIVERY %>  <!-- 2 defined options-->
    <%= f.input :banner, as: :file, label: "Please add a picture to your offer:" %>
    <br>
    <%= f.submit "Add", class: "btn devise-button" %>
    <% end %>
    <br>
    <%= link_to root_path do %><i class="fa fa-arrow-left"></i> BACK<% end %>
  </div>
</div>

<!-- 1.add a photo to the form
2.check the index for photo type and key
 -->
