
<section>

<div class="container">
  <%= link_to root_path, class: "back" do %>
    <i class="fa fa-arrow-left"></i> BACK
  <% end %>
  <% if @offer.user == current_user %>
    <p><%= link_to "Edit details", edit_offer_path, class: "btn devise-button" %></p>
    <%= link_to "Delete offer", offer_path(@offer), class: "btn devise-button", method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
  <% end %>
  <h1><%= @offer.title %></h1>
  <h2><%="#{@offer.user.first_name} #{@offer.user.last_name}"%></h2>

  <p><%= @offer.description %></p>

  <div class="artist-card">
  <!-- image place holder -->
  <!-- <button> <%#= button_to "Book", { action: "booking confirmation path placeholder", class: "btn btn-primary"}, :method => :get %> </button> -->
  </div>
<div class=booking>
  <% if policy(Booking).create? %>
      <h1>Make a booking request</h1>
      <%= simple_form_for([@offer, @booking]) do |f| %>
      <%= f.input :day, :label => "Event date"  %>
      <%= f.input :patron_address, :label => "Where should the artist perform?"  %>
      <%= f.input :comment, :label => "Is there anything else the artist should know?" %>
      <%= f.submit "Submit request", class: "btn devise-button" %>
    <% end %>
  <% end %>
  <p><%= link_to "Back to offers", offers_path %></p>
  </div>
</div>

</section>
